@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

.button_join {
  position: absolute;
  width: 484px;
  height: 112px;
  left: 945px;
  top: -190px;

  /* background: #46559f; */
  background-color: #4b599c;
  border-radius: 32px;
  z-index: 2;
  box-shadow: 5px 5px 0px #2d2d2d;
}

.text_join {
  position: absolute;
  line-height: 2.3px;
  text-align: left;
  font-family: "Oswald";
  font-weight: 200;
  color: #ffffff;
  font-size: 27px;
  letter-spacing: 0.15em;
  top: 31%;
  left: 63%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text_yume {
  position: absolute;
  font-family: Oswald;
  color: #ffffff;
  font-size: 31px;
  line-height: 2.377;
  letter-spacing: 0.1em;
  font-weight: 200;
  top: 67%;
  text-align: left;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.image_avatar {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 99px;
  width: 91px;
  height: 91px;
  top: 50%;
  left: 21%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 99px;
}

.buttons_block {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
  margin-right: 2%;
  z-index: 1;
}

.button {
  display: flex;
  width: 200px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.image_clouds {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 120px;
  filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25));
}

.text {
  font-family: Oswald;
  z-index: 5;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0.05em;
  margin-top: 45px;
}

.clouds_block {
  position: absolute;
  width: 1920px;
  height: 416px;
  bottom: 0%;
}

.clouds_back {
  background-image: url(/assets/cloud_back.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 1283px;
  height: 386px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.clouds_front {
  background-image: url(/assets/cloud_front.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  z-index: 10;
}

.character_yume {
  display: block;
  position: absolute;
  width: 1061px;
  height: 1321px;
  left: 150px;
  bottom: -450px;
  z-index: 1;
}

.hands_yume {
  position: absolute;
  width: 104px;
  height: 72px;
  right: 920px;
  top: -216px;
  z-index: 30;
}

.fullscreen-bg {
  overflow: hidden;
  z-index: 100;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -50;
}
